@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, rgba(99,102,241,0.25), transparent 35%),
    #050816;

  color: white;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.glass {
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(18px);
}

.glow {
  box-shadow:
    0 0 20px rgba(110,231,255,0.15),
    0 0 40px rgba(139,92,246,0.12);
}
